tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: /home/REPLACE_WITH_USER/.cloudflared/REPLACE_WITH_TUNNEL_UUID.json
metrics: 127.0.0.1:20243
no-autoupdate: true

ingress:
  - hostname: monitor.example.com
    service: http://localhost:4242
    originRequest:
      connectTimeout: 10s
  - service: http_status:404
